<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&family=Poppins:wght@200&family=Roboto:ital,wght@0,100;0,300;0,900;1,100;1,400;1,500&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/styles/logRegister.css" />
    <link rel="icon" href="/assets/images/pngwing.com.png" type="image/png" />
    <title>login</title>
</head>

<body>
    <div>
        <img class="logoNetflix" src="/assets/images/netflix-logo.svg">
        <main>
            <h1>Entrar</h1>

            <form action="/user/login" method="post">
                
                <input type="email" name="email" placeholder="Email" required />

                
                <input type="password" name="password" placeholder="password" required />

                <button type="submit">Entrar</button>
            </form>
            <h4>Novo por aqui? <a href="/user/register">Assine agora</a></h4>

            <img class="img" src="/assets/images/pngwing.com.png" />
        </main>
    </div>
</body>

</html>